version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: pmb-pps-ulm-app
    container_name: pmb-pps-ulm-app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    networks:
      - pmb-network

  web:
    image: nginx:alpine
    container_name: pmb-pps-ulm-nginx
    restart: unless-stopped
    ports:
      - "8088:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - pmb-network

networks:
  pmb-network:
    driver: bridge
